
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb)); 
} 
.ant-menu-horizontal > .ant-menu-item:after {
  border-bottom: none !important;
}
.ant-menu-horizontal > .ant-menu-item:hover::after,
.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom: none !important;
}
.ant-menu-horizontal .ant-menu-item{
  padding-inline: 10px;
}
.ant-menu-horizontal > .ant-menu-item:hover{
  color: red;
}
/* CSS styles for adding bottom border on hover */
.ant-menu-horizontal > .ant-menu-item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
} 
body widget {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
} 
body widget[type=ticket] .top > div,
body widget[type=ticket] .bottom > div {
  padding: 0 18px;
}
body widget[type=ticket] .top > div:first-child,
body widget[type=ticket] .bottom > div:first-child {
  padding-top: 18px;
} 
body widget[type=ticket] .bottom img {
  padding: 18px 0;
}
body widget[type=ticket] .top,
body widget[type=ticket] .bottom,
body widget[type=ticket] .rip {
  background-color: #fff;
}
body widget[type=ticket] .top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
} 
body widget[type=ticket] .bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 18px;
  /* //height: 30px; */
  padding-top: 10px;
}  
body widget[type=ticket] .rip {
  height: 20px;
  margin: 0 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
  background-size: 4px 2px;
  background-repeat: repeat-x;
  background-position: center;
  position: relative;
  box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
}
body widget[type=ticket] .rip:before, body widget[type=ticket] .rip:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 5px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
  border-radius: 100%;
  pointer-events: none;
}
body widget[type=ticket] .rip:before {
  left: -10px;
}
body widget[type=ticket] .rip:after {
  transform: translate(-50%, -50%) rotate(225deg);
  right: -40px;
}
body widget .-bold {
  font-weight: bold;
}

.divider-text-center::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #ddd;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
} 
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e6373d;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  transform: scaleX(0);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-login .btn {
  min-width: unset;
}
.btn-login li a {
  border-radius: 5px;
  padding: 15px 25px;
  color: #fff;
  display: block;
  line-height: 1;
  text-transform: none;
  letter-spacing: 0;
  font-size:1rem;
} 
.btn:focus{outline:0;box-shadow:none}
.btn:hover::before{transform:scaleX(1);color:#fff!important;z-index:-1}
.btn {
  background: #ff656a !important; 
  text-transform: uppercase;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 0; 
  padding: 27px 44px;
  border-radius: 5px; 
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
} 